<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- icon link -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
    <!-- favicon -->
    <link rel="icon" href="/images/transparent.png" type="image/x-icon" />
    <!-- link admin.css -->
    <link rel="stylesheet" href="./styles/admin.css" />
    <title>All Care Academy Admin</title>
    <style>
      .adminactive {
        width: 0%;
        transition: 0.3s;
      }
      .adminacright {
        width: 100%;
        transition: 0.3s;
      }
    </style>
  </head>
  <body>
    <div class="admin">
      <div class="admin-left">
        <div class="title">
          <h3>ShotterShodhane</h3>
          <div class="removebox">
            <i class="fas fa-close"></i>
          </div>
        </div>
        <!-- menu -->
        <%-include("./partials/amleft.ejs")%>
        <!-- menu -->
      </div>
      <div class="admin-right">
        <!-- top header -->
        <%-include("./partials/amheader.ejs")%>
        <!-- -------------all boks table--------------- -->
        <div class="allbook-list">
          <div class="booklist-search">
            <div class="booklist-title">
              <h2>Our Book List</h2>
            </div>
            <div class="book-searchbox">
              <form action="">
                <input
                  type="text"
                  placeholder="Search Book..."
                  name="searchbook"
                />
                <button><i class="bx bx-search-alt-2"></i></button>
              </form>
            </div>
          </div>

          <div class="book-table">
            <%if(allbookinfo.length>0){%>
            <table>
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Company</th>
                  <th>Writter</th>
                  <th>Class</th>
                  <th>Year</th>
                  <th>Quantity</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <%allbookinfo.forEach((data)=>{%>
                <tr>
                  <td><%=data.book_name%></td>
                  <td><%=data.company_name%></td>
                  <td><%=data.writter_name%></td>
                  <td><%=data.class_name%></td>
                  <td><%=data.book_year%></td>
                  <td><%=data.quantity%></td>
                  <td>
                    <a href="/update-book/<%=data._id%>">Update</a>
                    <a href="/delete-book/<%=data._id%>">Delete</a>
                  </td>
                </tr>
                <%})%>
              </tbody>
            </table>
            <%}else{%>
            <h2>We Have Not Any Book Now.</h2>
            <%}%>
          </div>
        </div>
        <!-- -------------all boks table--------------- -->
      </div>
    </div>
    <!-- chart.js link -->
    <script>
      let adminleft = document.querySelector(".admin-left");
      let adminright = document.querySelector(".admin-right");
      let sideicon = document.querySelector(".side-icon");
      sideicon.addEventListener("click", function () {
        adminleft.classList.toggle("adminactive");
        adminright.classList.toggle("adminacright");
      });
      let sideicon2 = document.querySelector(".side-icon2");
      sideicon2.addEventListener("click", function () {
        adminleft.style.left = "0";
      });
      let removebox = document.querySelector(".removebox");
      removebox.addEventListener("click", () => {
        adminleft.style.left = "-400px";
      });
      var oriloaction = window.location.pathname;
      var linka = document.querySelectorAll("ul li a").forEach((e) => {
        if (e.href.includes(oriloaction)) {
          e.classList.add("activelink");
        }
      });
    </script>
  </body>
</html>
