<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- google fonts link -->
    <!-- Link Swiper's CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

    <!-- favicon -->
    <link rel="icon" href="/images/transparent.png" type="image/x-icon" />
    <!-- boxicon link -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
    <!-- css link home.css -->
    <link rel="stylesheet" href="/styles/home.css" />
    <link rel="stylesheet" href="/styles/footer.css" />

    <title>All Care Academy Library</title>
  </head>
  <body>
    <div class="container">
      <div class="home">
        <div class="header-main">
          <header>
            <div class="logo">
              <img src="/images/transparent.png" alt="" />
              <h2>All Care Academy</h2>
            </div>
            <div class="searchbar-header">
              <div class="search-inpfield">
                <form action="">
                  <input
                    type="text"
                    name="search"
                    id="searchfield"
                    autocomplete="off"
                    placeholder="বইয়ের নাম ও লেখক দিয়ে অনুসন্ধান করুন"
                  />
                  <button><i class="bx bx-search"></i></button>
                </form>
              </div>
              <div class="auto-suggetion">
                <div class="sugget-box">
                  <div class="sugbox-text">
                    <img
                      src="https://ds.rokomari.store/rokomari110/ProductNew20190903/260X372/Nobodoot_English_Grammar_And_Composition-Gyangriha_Gobeshona_o_Shompadona_Porisod-954da-224921.jpg"
                      alt=""
                    />
                    <div class="textcont">
                      <h3>Spoken ENglish</h3>
                      <p>First Year</p>
                    </div>
                  </div>
                  <button>Add</button>
                </div>
              </div>
            </div>
            <nav>
              <ul>
                <!-- <li><a href="/">Home</a></li>
                  <li><a href="/first-year-books">First Year</a></li>
                  <li><a href="/second-year-books">Second Year</a></li>
                  <li><a href="/contact">Contact</a></li> -->
                <button><a href="/login">Log In</a></button>
              </ul>
            </nav>
            <div class="sidebar">
              <i class="bx bx-menu"></i>
            </div>
          </header>

          <!-- subheader -->
          <div class="subheader">
            <ul>
              <li><a href="/">হোম</a></li>
              <li><a href="/books">বই</a></li>
              <li><a href="/science">সাইন্স</a></li>
              <li><a href="/commerce">কমার্স</a></li>
              <li><a href="/arts">আর্টস</a></li>
              <li><a href="/new_year_books">বইমেলা ২০২৪</a></li>
            </ul>
          </div>
          <!-- subheader -->
        </div>

        <!-- hero section -->
        <div class="hero">
          <div class="swiper mySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img
                  src="https://ds.rokomari.store/rokomari110/banner/DESKTOP1a602b30-28f1-4576-a4f8-4b552019e2ee.webp"
                  alt=""
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="https://ds.rokomari.store/rokomari110/banner/DESKTOPd8efdda7-374f-4657-b8ab-c8f4c4e721e5.webp"
                  alt=""
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="https://ds.rokomari.store/rokomari110/banner/DESKTOP611fcdb4-567b-49c1-a6d6-0a67a8aa363c.webp"
                  alt=""
                />
              </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
        <!-- hero section -->
      </div>
      <!-- --------------All Books------------------ -->
      <div class="all-book">
        <div class="all-booksearch">
          <div class="allbook-title">
            <h1>প্রকাশিত বই</h1>
          </div>
          <div class="viewall-field">
            <button><a href="/books">View All</a></button>
          </div>
        </div>
        <div class="all-bookcategory">
          <%bookdata.slice(0,12).forEach((data)=>{%>
          <div class="bookinfo-box">
            <a href="/book-information/<%=data._id%>">
              <div class="bookinfo-subbox">
                <div class="bookimg">
                  <img src="<%=data.image%>" alt="book_name" />
                </div>
                <div class="book-infotext">
                  <h3>শ্রেণী: <%=data.class_name%></h3>
                  <%if(data.full_name){%>
                  <h2><%=data.full_name.slice(0,60)%>...</h2>
                  <%}else{%>
                  <h2><%=data.full_name%></h2>
                  <%}%>
                </div>
              </div>
            </a>
          </div>
          <%})%>
        </div>
      </div>
      <!-- --------------All Books------------------ -->
      <!-- --------------All Books------------------ -->
      <div class="all-book">
        <div class="all-booksearch">
          <div class="allbook-title">
            <h1>জনপ্রিয় বই</h1>
          </div>
          <div class="view-all">
            <button>View All</button>
          </div>
        </div>
        <div class="all-bookcategory">
          <div class="bookinfo-box">
            <div class="bookimg">
              <img
                src="https://fs.pbs.com.bd/DIR/Com/PBS/Product/Image/2206742.jpg"
                alt="book_name"
              />
            </div>
            <div class="book-infotext">
              <h3>শ্রেণী: প্রথম বছর</h3>
              <h2>
                পাঞ্জেরী পদার্থবিজ্ঞান - এসএসসি ২০২৪ টেস্ট পেপারস মেইড ইজি
                (প্রশ্নপত্র + উত্তরপত্র)
              </h2>
            </div>
          </div>
          <div class="bookinfo-box">
            <div class="bookimg">
              <img
                src="https://fs.pbs.com.bd/DIR/Com/PBS/Product/Image/2206742.jpg"
                alt="book_name"
              />
            </div>
            <div class="book-infotext">
              <h3>শ্রেণী: প্রথম বছর</h3>
              <h2>
                পাঞ্জেরী পদার্থবিজ্ঞান - এসএসসি ২০২৪ টেস্ট পেপারস মেইড ইজি
                (প্রশ্নপত্র + উত্তরপত্র)
              </h2>
            </div>
          </div>
          <div class="bookinfo-box">
            <div class="bookimg">
              <img
                src="https://fs.pbs.com.bd/DIR/Com/PBS/Product/Image/2206742.jpg"
                alt="book_name"
              />
            </div>
            <div class="book-infotext">
              <h3>শ্রেণী: প্রথম বছর</h3>
              <h2>
                পাঞ্জেরী পদার্থবিজ্ঞান - এসএসসি ২০২৪ টেস্ট পেপারস মেইড ইজি
                (প্রশ্নপত্র + উত্তরপত্র)
              </h2>
            </div>
          </div>
          <div class="bookinfo-box">
            <div class="bookimg">
              <img
                src="https://fs.pbs.com.bd/DIR/Com/PBS/Product/Image/2206742.jpg"
                alt="book_name"
              />
            </div>
            <div class="book-infotext">
              <h3>শ্রেণী: প্রথম বছর</h3>
              <h2>
                পাঞ্জেরী পদার্থবিজ্ঞান - এসএসসি ২০২৪ টেস্ট পেপারস মেইড ইজি
                (প্রশ্নপত্র + উত্তরপত্র)
              </h2>
            </div>
          </div>
          <div class="bookinfo-box">
            <div class="bookimg">
              <img
                src="https://fs.pbs.com.bd/DIR/Com/PBS/Product/Image/2206742.jpg"
                alt="book_name"
              />
            </div>
            <div class="book-infotext">
              <h3>শ্রেণী: প্রথম বছর</h3>
              <h2>
                পাঞ্জেরী পদার্থবিজ্ঞান - এসএসসি ২০২৪ টেস্ট পেপারস মেইড ইজি
                (প্রশ্নপত্র + উত্তরপত্র)
              </h2>
            </div>
          </div>
          <div class="bookinfo-box">
            <div class="bookimg">
              <img
                src="https://fs.pbs.com.bd/DIR/Com/PBS/Product/Image/2206742.jpg"
                alt="book_name"
              />
            </div>
            <div class="book-infotext">
              <h3>শ্রেণী: প্রথম বছর</h3>
              <h2>
                পাঞ্জেরী পদার্থবিজ্ঞান - এসএসসি ২০২৪ টেস্ট পেপারস মেইড ইজি
                (প্রশ্নপত্র + উত্তরপত্র)
              </h2>
            </div>
          </div>
        </div>
      </div>
      <!-- --------------All Books------------------ -->
      <!-- ----------------about library----------------- -->
      <!-- <div class="about-main">
          <div class="about-text">
            <div></div>
            <h1>About Us</h1>
          </div>
          <div class="about-submain">
            <div class="about-box about-left">
              <div class="aboutbox abbox1">
                <div class="iconbox">
                  <img src="/images/member-card.png" alt="" />
                </div>
                <h2>Member Card</h2>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
                  officia, facere alias porro sed neque possimus fugit est
                  asperiores voluptatem.
                </p>
              </div>
              <div class="aboutbox abbox1">
                <div class="iconbox">
                  <img src="/images/member-card.png" alt="" />
                </div>
                <h2>Member Card</h2>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
                  officia, facere alias porro sed neque possimus fugit est
                  asperiores voluptatem.
                </p>
              </div>
              <div class="aboutbox abbox1">
                <div class="iconbox">
                  <img src="/images/member-card.png" alt="" />
                </div>
                <h2>Member Card</h2>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
                  officia, facere alias porro sed neque possimus fugit est
                  asperiores voluptatem.
                </p>
              </div>
              <div class="aboutbox abbox1">
                <div class="iconbox">
                  <img src="/images/member-card.png" alt="" />
                </div>
                <h2>Member Card</h2>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
                  officia, facere alias porro sed neque possimus fugit est
                  asperiores voluptatem.
                </p>
              </div>
            </div>
            <div class="about-box about-right">
              <img
                src="https://images.pexels.com/photos/1370291/pexels-photo-1370291.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                alt=""
              />
            </div>
          </div>
        </div> -->
      <!-- ----------------about library----------------- -->
      <!-- --------------------------footer-------------------- -->
      <%-include("./partials/footer.ejs")%>
      <!-- ----------------------footer------------------- -->
    </div>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <script>
      // keypre

      let autocomplete_search = document.getElementById("searchfield");
      let search_result = document.querySelector(".auto-suggetion");
      autocomplete_search.addEventListener("input", () => {
        load_data(autocomplete_search.value);
      });
      async function load_data(query) {
        let data = await fetch("/get_data");
        let datajson = await data.json();
        let matches = datajson.allbookinfo;
        search_result.innerHTML = "";

        let result = [];
        if (query.length > 0) {
          matches.filter((element) => {
            if (
              element.book_name.toLowerCase().includes(query.toLowerCase()) ||
              element.full_name.toLowerCase().includes(query.toLowerCase())
            ) {
              let createsuggetbox = document.createElement("div");
              createsuggetbox.setAttribute("class", "sugget-box");
              let craetebtn = document.createElement("button");
              craetebtn.innerHTML = "add";
              let createsugboxtext = document.createElement("div");
              createsugboxtext.setAttribute("class", "sugbox-text");
              let createtextcont = document.createElement("div");
              createtextcont.setAttribute("class", "textcont");
              let createmg = document.createElement("img");
              createmg.src = element.image;
              let createh3 = document.createElement("h3");
              createh3.innerText = element.full_name;
              let createp = document.createElement("p");
              createp.innerText = element.class_name;

              createsuggetbox.appendChild(createsugboxtext);
              createsugboxtext.appendChild(createmg);
              createsugboxtext.appendChild(createtextcont);
              createsugboxtext.appendChild(createh3);
              createsugboxtext.appendChild(createp);
              createsuggetbox.appendChild(craetebtn);

              search_result.appendChild(createsuggetbox);

              cretbtn.addEventListener("click", function (e) {
                autocomplete_search.value = e.target.attributes.title.value;
              });
              // search_result.innerHTML += `
              //       <div class="suggetion-box" title="sdsds">
              //         <div class="sugbox-img" title="sdsds">
              //           <img src="${element.image}" alt=""title="${element.book_name}" />
              //         </div>
              //         <div class="sugbox-text" title="sdsds">
              //           <h3 title="sdsds">${element.full_name}</h3>
              //           <p title="sdsds">${element.class_name}</p>
              //         </div>
              //         <button onclick="func()">click me</button>
              //       </div>
              // `;
            }
          });
        }
      }

      window.addEventListener("scroll", function () {
        let header = document.querySelector("header");
        header.classList.toggle("activeheader", scrollY > 100);
      });
      function onfocusinp() {
        var itempreview = document.querySelector(".item-preview");
        itempreview.style.display = "block";
      }
      // swipperjs
      var swiper = new Swiper(".mySwiper", {
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: {
          delay: 2500,
          disableOnInteraction: false,
        },
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });
    </script>
  </body>
</html>
