<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- icon link -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />

    <!-- link admin.css -->
    <link rel="stylesheet" href="../styles/admin.css" />
    <link rel="stylesheet" href="../styles/addbook.css" />

    <title>Shotter-Shondhane Admin</title>
    <style>
      .adminactive {
        width: 0%;
        transition: 0.3s;
      }
      .adminacright {
        width: 100%;
        transition: 0.3s;
      }
    </style>
  </head>
  <body>
    <div class="admin">
      <div class="admin-left">
        <div class="title">
          <h3>ShotterShodhane</h3>
          <div class="removebox">
            <i class="fas fa-close"></i>
          </div>
        </div>
        <!-- menu -->
        <%-include("./partials/amleft.ejs")%>
        <!-- menu -->
      </div>
      <div class="admin-right">
        <!-- top header -->
        <%-include("./partials/amheader.ejs")%>
        <!-- -------------all boks table--------------- -->
        <div class="add-book">
          <div class="add-booktext">
            <h2>Add New Books</h2>
          </div>
          <div class="addbook-form">
            <form action="/update-book/<%=bookdata._id%>" method="POST">
              <div class="input-fieldbox">
                <label for="name">Full Name</label><br />
                <input type="text" name="fullname"value="<%=bookdata.full_name%>" required />
              </div>
              <div class="input-fieldbox">
                <label for="name">Name</label><br />
                <input type="text" name="bookname"value="<%=bookdata.book_name%>" required />
              </div>
              <div class="input-fieldbox">
                <label for="name">Company Name</label><br />
                <input type="text" name="company"value="<%=bookdata.company_name%>" required />
              </div>
              <div class="input-fieldbox">
                <label for="name">Picture URL</label><br />
                <input type="text" name="image"value="<%=bookdata.image%>" required />
              </div>
              <div class="input-field">
                <div class="formbox">
                  <label for="name">Writter</label><br />
                  <input type="text" name="writter"value="<%=bookdata.writter_name%>" required />
                </div>
                <div class="formbox">
                  <label for="name">Class</label><br />
                  <select name="classname" id=year">
                    <option value="first_year">First Year</option>
                    <option value="second_year">Second Year</option>
                  </select>
                </div>
              </div>
              <div class="input-field">
                <div class="formbox">
                  <label for="name">Year</label><br />
                  <input
                    type="number"
                    min="2010"
                    max="2050"
                    step="1"
                    value="2023"
                    name="bookyear"
                    value="<%=bookdata.book_year%>"
                  />
                </div>
                <div class="formbox">
                  <label for="name">Quantity</label><br />
                  <input type="number" min="1" max="100" step="1" value="1"name="quantity"value="<%=bookdata.quantity%>" />
                </div>
              </div>
              
              <!-- <div class="picture-addfield">
                <input type="file">
              </div> -->
              <button>Submit</button>
            </form>
          </div>
        </div>
        <!-- -------------all boks table--------------- -->
      </div>
    </div>
    <!-- chart.js link -->
    <script>
      let adminleft = document.querySelector(".admin-left");
      let adminright = document.querySelector(".admin-right");
      let sideicon = document.querySelector(".side-icon");
      sideicon.addEventListener("click", function () {
        adminleft.classList.toggle("adminactive");
        adminright.classList.toggle("adminacright");
      });
      let sideicon2 = document.querySelector(".side-icon2");
      sideicon2.addEventListener("click", function () {
        adminleft.style.left = "0";
      });
      let removebox = document.querySelector(".removebox");
      removebox.addEventListener("click", () => {
        adminleft.style.left = "-400px";
      });
      var oriloaction = window.location.pathname;
      var linka = document.querySelectorAll("ul li a").forEach((e) => {
        if (e.href.includes(oriloaction)) {
          e.classList.add("activelink");
        }
      });
    </script>
  </body>
</html>
